<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <h1>- 게시글 상세보기 -</h1>
    <h3>작성자 : [[${board.boardWriter}]]</h3>
    <h3>글 제목</h3>
    <textarea name="boardTitle" style="width:100%;" readonly>[[${board.boardTitle}]]</textarea>
    <h3>글 내용</h3>
    <textarea name="boardContent" style="width:100%; height:200px;" readonly>[[${board.boardContent}]]</textarea>
    <a href="/board/boardList">목록으로</a> <a th:href="@{/board/boardUpdate(boardNo=${board.boardNo})}">글수정</a>
</body>

</html>