<html><body>

</br>
</br>
</br>
</br>
</br>
<p align="center" style="font-size: 50; font-weight: bold;">설문 종료</p>

    <p align="center">
조사에 응해주셔서 감사합니다.
</br>
답변해주신 정보는 소중하고 안전하게 보관 후,
수집일로부터 1년 후 삭제될 예정입니다.
</br>
</br>

답변을 수정하고 싶으시면 "결과 조회" 페이지로 이동해주시기 바랍니다.
</br>
작성을 취소하고싶으시면 "작성 취소" 버튼을 눌러주세요.
</br>
</br>
작성 취소시 답변 내용은 저장되지 않으나, 제공하신 개인정보는 저장됩니다.
</br>
작성하신 개인정보 및 답변을 수정 혹은 삭제는
</br>
메인 페이지에서 "로그인" 후 결과 페이지에서 진행해주세요.
</p>
</br>
</br>

<form action="preResult" method="post"><input type="submit" value="   결 과  조 회   " style="display:block;margin-left:auto;margin-right: auto;"></form>
<a href = "/"> <input type="button" value=" 작성 취소 (메인 페이지로) " style="display:block;margin-left:auto;margin-right: auto;"></a>


</body></html>