<html>

<body>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <p align="center">
        설문조사에 응해주셔서 감사합니다.
        </br>
        본 설문조사는 성향에 대한 간단한 조사입니다.
        </br>
        편한 마음으로 답변해주시기 바랍니다.
        </br>
        </br>
        </br>
        설문 항목은 총 15항목이며, 제한된 시간은 없습니다.
        </br>
        </br>
        </br>
        <a href="/survey/survey1"><input type="button" value="설문조사 시작"
            style="width:120px;height:50px;font-weight:bold;"></a>
    </p>
</body>

</html>