<html>
    <head><p style="font-size:20; font-weight:bold;">설문 2 페이지</strong></head>

    <hr/>
    <form action="survey2" method="post">
        <p style="font-weight:bold;margin-left:50px;">2번. 후회되는 일은 무엇인가요? 편하게 서술해주세요.</p>
        <input textarea style="width:500px;height:100px;margin-left:50px;" placeholder="답변을 적어주세요." name="answer6"></textarea>
        </br>
        </br>
        <p style="font-weight:bold;margin-left:50px;">그 당시의 마음은 어땠나요?</p>
        <input textarea style="width:500px;height:100px;margin-left:50px;" placeholder="답변을 적어주세요." name="answer7"></textarea>
        </br>
        </br>
        <p style="font-weight:bold;margin-left:50px;">다시 그 상황이 되면 어떻게 극복하고 싶으신가요?</p>
        <input textarea style="width:500px;height:100px;margin-left:50px;" placeholder="답변을 적어주세요." name="answer8"></textarea>
        </br>
        </br>
        <p style="font-weight:bold;margin-left:50px;">극복하기 위해 필요한 건 무엇인가요?</p>
        <input textarea style="width:500px;height:100px;margin-left:50px;" placeholder="마음가짐, 아이템 등" name="answer9"></textarea>
        </br>
        </br>
        <p style="font-weight:bold;margin-left:50px;">당시의 나 자신에게 해주고 싶은 말은?</p>
        <input textarea style="width:500px;height:100px;margin-left:50px;" placeholder="답변을 적어주세요." name="answer10"></textarea>
        </br>
        </br>
        <input type="submit" value="제출" style="margin-left:500px;">
    </form>

<a href="@/survey/survey1">이전 페이지로</a>

</html>