<html>
<body>

</br>
</br>
</br>

<p align="center" style="font-size: 50; font-weight: bold;">개인정보 수집, 이용 동의</p>


<p align="center">
<table border="1" width="700px">
    <tr>
<td><p align="center">목적</p></td>
<td><p align="center">항목</p></td>
<td><p align="center">보유, 이용 기간</p></td>
    </tr>

    <tr>
<td><p align="center">영리목적의 통계</p></td>
<td><p align="center">성명, 성별, 생년월일</p></td>
<td><p align="center">제출일로부터 1년</p></td>
    </tr>
</table>
</p>

<p align="center">
정보주체는 개인정보 수집에 <strong>동의하지 않을 권리</strong>가 있으며,
</br>
동의를 거부할 경우 개인정보를 저장하지 않으며,
</br>
설문조사 또한 더이상 진행하지 않습니다.
</br>
</br>

    <a href="/survey/surveyIntro"><input type="button" value=" 동   의 "></a>
    <a href="/main"> <input type="button" value=" 미동의 "></a>





</p>

</body>
</html>