<html>
<head></head>
<body>


<h1> 사투리 TTS </h1>


<br>
<br>

<form action='http://localhost:5002/result' method='get'>

<h3>지역 선택</h3>
<select name='region'>
    <option value="">지역 선택</option>
    <option value="전라도">전라도</option>
    <option value="경상도">경상도</option>
    <option value="제주도">제주도</option>
    <option value="충청도">충청도</option>
    <option value="강원도">강원도</option>
</select>

<br>
<br>
<h3>텍스트 입력</h3>

<textarea name='text' rows='20' cols='70'></textarea>

<br>
<br>
<!--txt 파일 <input type='file' name='file'>-->

<input type='submit' value="음성으로 변환하기"></input>

</form>



</body>
</html>