<html>
<head></head>
<body>

<p align='center'><h1> 사투리 TTS </h1></p>


<br>
<br>

<form action='http://localhost:5002/result' method='get'>

지역 선택 : <select name='region'>
    <option value="">지역 선택</option>
    <option value="전라도">전라도</option>
    <option value="경상도">경상도</option>
    <option value="제주도">제주도</option>
    <option value="충청도">충청도</option>
    <option value="강원도">강원도</option>
</select>

<br>
텍스트 입력
<br>
<textarea name='text' row='150' cols='70'></textarea>

<br>
txt 파일 업로드 : <input type='file' name='file'>

<br>
<br>
<input type='submit'></input>

</form>

</body>
</html>