<html xmlns:th="http://www.thymeleaf.org">

<body>
  <h1>-게시글 조회-</h1>


    <h3> 작성자 : [[${board.boardWritter}]]</h3>
    <h2> 글 제목 </h2>
    <textarea name="boardTitle" style="width:100%;" readonly>[[${board.boardTitle}]]</textarea>
    <h2> 글 내용 </h2> 
    <textarea name="boardContent" style="width:100%; height:300px" readonly>[[${board.boardContent}]]</textarea>
    </br></br></br>
    <a href="/board/boardList"> 목록으로  </a>
    <th:block th:if="${board.boardWritter} == ${session.user.userId}">
      <!-- 글 작성자와 현재 세션의 유저 이름이 같다면 -->
    <a th:href="@{/board/boardUpdate(boardNo=${board.boardNo})}"> 글 수정 </a>
    <a th:href="@{/board/boardRemove(boardNo=${board.boardNo})}"> 글 삭제 </a>
    </th:block>
</body>


</html>