<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.miniprojectsurvey.survey.mapper.SurveyAnswerMapper">

    <insert id="answer" parameterType="com.example.miniprojectsurvey.survey.model.SurveyAnswer">
    insert into surveyanswer values(#{userId}, #{answer1}, #{answer2}, #{answer3}, #{answer4}, #{answer5}, #{answer6}, #{answer7}, #{answer8}, #{answer9}, #{answer10}, #{answer11}, #{answer12}, #{answer13}, #{answer14}, #{answer15})
    </insert>

    <select id="check" resultType="com.example.miniprojectsurvey.survey.model.SurveyAnswer">
        select * from surveyanswer
    </select>

    <update id="answerUpdate" parameterType="com.example.miniprojectsurvey.survey.model.SurveyAnswer">
        update surveyanswer
        set answer1=#{answer1}, answer2=#{answer2}, answer3=#{answer3}, answer4=#{answer4}, answer5=#{answer5}, answer6=#{answer6}, answer7=#{answer7}, answer8=#{answer8}, answer9=#{answer9}, answer10=#{answer10}, answer11=#{answer11}, answer12=#{answer12}, answer13=#{answer13}, answer14=#{answer14}, answer15=#{answer15}
        Where userId=#{userId}
    </update>


    </mapper>