<html xmlns:th="http://www.thymeleaf.org">

<body>

    <table border = "1">
        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>작성자</td>
        </tr>

        <tr th:each="board : ${boardList}"> 
            <td th:text="${board.bNo}"></td>
            <td><a th:href="@{/boardDetail(bNo=${board.bNo})}"
                   th:text="${board.title}"></td>
            <td th:text="${board.user}"></td>
        </tr>
    </table>
    <th:block th:each="pageNumber : ${#numbers.sequence(1, 10)}">
<a th:href="@{/linkUrl(page=${pageNumber})}" th:text="${pageNumber}"></a>
</th:block>
<hr>
</body>

</html>